.card-item {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.card-item2 {
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.card-main {
    position: relative;
    width: 100%;
    height: 50vh;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    border: none;
    margin: 30px 0px 0px 0px;
    cursor: pointer;
    overflow: hidden;
}

.card-img {
    width: 100%;
}

.card-main2 {
    position: relative;
    width: 100%;
    height: auto;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    border: none;
    padding: 0px 30px;
    margin: 30px 10px 0px 10px;
    cursor: pointer;
    overflow: hidden;
}

.card-body2 {
    position: relative;
    width: 80%;
    height: 20vh;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    border: none;
    margin: -50px 10px 0px 10px;
    cursor: pointer;
    overflow: hidden;
}

.card-title {
    font-size: 40px;
    font-weight: 700;
}

.headerHome {
    max-width: 470px;
    padding: 15px 0 50px 0;
    line-height: 1.5rem;
    font-size: 0.9rem;
}

ol {
    list-style-type: decimal;
}

ol li {
    margin-left: 15px;
}

@media only screen and (max-width: 960px) {
    .card-main {
        margin: 10px 0px !important;
        width: 100%;
        height: auto !important;
    }
    .card-title {
        font-size: 30px;
        font-weight: 700;
    }
    .card-body2 {
        width: 100%;
        height: 15vh ;
    }

    .card-item2 {
        flex-direction: column;
    }
    .headerHome {
        padding: 15px 0 50px 0;
        text-align: center;
        max-width: 100%;
        font-size: 0.9rem;
    }
    .card-main2 {
        padding: 0px 15px;
    }
  }
  
  @media only screen and (max-width: 350px) {
    
  }