@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: white;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #dddddd;
}
